/* Layout */
.flex-horizontal, .flex-vertical {
    display: flex;
}
.flex-vertical {
    flex-direction: column;
}

body > * > * {
  margin: 0.1em;
}

/* Generic */
.hidden {
    display: none;
}
.invalid {
    background-color: #c66;
}

/* Others */
.result-list {
  display: flex;
  flex-direction: column;
}
.result .result-header {
  display: flex;
  flex-direction: row;
}

.connection-list {
  display: flex;
  flex-direction: row;
}

/* Collapsible */
.collapsible {
  background-color: #ccc;
  border-color: #777;
  border-style: solid;
}

.collapsible > button {
  background-color: #777;
  color: #fff;
  cursor: pointer;
  padding: 0.6em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.collapsible > button i {
  margin-right: 0.5em;
}
.active, .collapsible:hover {
  background-color: #ccc;
}

.collapsible .collapsible-content > * {
  margin: 0.5em;
}
.collapsible + .disabled > * > i {
    color: #c66;
}

/* table */
th, td {
  text-align: right;
}
th:first-child, td:first-child  {
  text-align: left !important;
}